.wiki {
  text-indent: 1vw;
  width: 30%;

  margin-left: 60%;
  font-size: 0.7vw;
  color: #16a085;
}


.swiper-container {
    width: 100%;
    height: 100%;

}
.swiper-slide {
    font-size: 18px;
    color:#ccc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

.swiper-container-ico .swiper-slide{
    padding: 40px 10px;
}
.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.swiper-slide .two {
  display: inline-block;
  max-width: 50%;
}
.swiper-slide .title, .swiper-slide .title a {
  color: #ccc;
  padding-top: 1%;
    font-size: 3.5vh;
    font-weight: 300;

}
.swiper-slide .subtitle {

  padding-top: 5%;
  color: #16a085;
    font-size: 2vh;


}

.swiper-slide .xxx{
display: inline-block;
width: 50%;
height: 40vh;
background-size:cover;
background-repeat: no-repeat;
background-position: 50% 50%;
float: right;
}

.swiper-slide .xxx {
  position: relative;
  color: #16a085;
  text-decoration: none;
  padding-top: 20px;

}

.swiper-slide .xxx:hover {
  color: #16a085;
}

.swiper-slide .xxx:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #16a085;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.swiper-slide .xxx:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


@media(max-width:500px) {
  .swiper-slide .xxx{

  width: 90vw;
  height: 50vh;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  float: right;
  margin-top: 10%;
  }

  .swiper-slide .two {
    display: inline-block;
    max-width: 100%;

  }
  .swiper-slide .title , .swiper-slide .title a{
    padding-top: 1%;
      font-size: 23px;
      font-weight: 300;

  }
  .swiper-slide .subtitle {

    display: none;


  }


  .swiper-container-ico .swiper-slide{
      padding: 30px 40px;
  }

}

@media(min-width:700px) and (max-width:1366px) {

  .swiper-slide .title , .swiper-slide .title a{
      font-size: 26px;
  }
  .swiper-slide .subtitle {
      font-size: 13px;
  }

  .swiper-container-ico .swiper-slide{
      padding: 3vw 4vw;
  }

}

@media(min-width:1025px) {
    .swiper-slide .xxx {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
  /*Добавим вот такой вот код*/
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
  /*конец кода с transition*/
  }
  .swiper-slide .xxx:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    filter: none; /* IE 6-9 */
  }
}

.title a {
  color: #ccc;
  color:#191919;

}

.title a:hover {
  color:#16a085;
  text-decoration: none;
}
.subtitle {
  width: 90%;
  margin-bottom: 5%;
}
