.mainbutton {

  width: 80%; /* ширина основного блока */

height: 100%; /* высота для наглядности */

margin: 3% auto; /* задаем отступ слева и справа auto чтобы сработало выравнивание по центру */

}

.una a{
  color: #191919;
  text-decoration: none;
  font-size: 1vw;
}

.una a:hover{

  text-decoration: none;
}

.btn-info{
  font-size: 1vw;
  color: #191919;
  margin-right: 2%;
  background-color: #16a085;
  border-color: #16a085;
}

.btn-info:hover{
  color: #ccc;
  background-color: #16a085;
  border-color: #16a085;
}


.projecttemp {
    width: 100%;
    height: 100%;
    background: #ccc;
}

.unoproject-xxx {
  border-top: 3px solid #16a085;
  border-right: 3px solid #16a085;
  background: #191919;
  width: 94%;
  height: 100%;
  margin: 3% auto;
  height: 25vw;
}

.unoname {
  color: #16a085;
  font-size: 1.3vw;
  float: right;
  margin: 5% auto;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  height: 15%;


}

.unoname > a {
  color: #16a085;
  font-size: 1.3vw;
}

.unoname > a:hover {
  text-decoration: none;
  color: #ccc;
  font-size: 1.3vw;
}

.unotext {
  background-color: white;
  overflow: hidden;
  opacity: 0.9;
  color: black;
  text-transform: uppercase;
  position: absolute;

  bottom: 0;
  width: 100%;
  height: 25%;
  z-index: 5;
}

.unotext h2 {
font-size: 1.1vw;
font-weight: 100;
min-height: 25%;
float: left;
-webkit-margin-before: 0.3em;
-webkit-margin-after: 0.3em;
-webkit-margin-start: 0.4em;
-webkit-margin-end: 0.4em;
}

.unotext h3 {
font-size: 0.7vw;

float: left;
-webkit-margin-before: 0.3em;
-webkit-margin-after: 0.3em;
-webkit-margin-start: 0.4em;
-webkit-margin-end: 0.4em;
}

.unoimg {

  width: 90%;
  height: 58%;

  margin: 5% auto;
}
.una a{
  margin-left: 2vw;
  font-size: 1.5vw;

}

.una a:hover{
  color: #16a085;

  font-size: 1.5vw;
}

.unn {
  color:#16a085;
  font-size: 2vw;
  margin-left: 10vw;
}

.photo {
  background-size: cover;
  background-repeat: no-repeat;
    background-position: 50% 50%;
  height: 100%;
  position: relative;
}
ul {
  list-style: none;
}
ul li {
  display: inline;
  margin-left: 2vw;
}


@media screen and (max-width:1367px) {

  .unoproject-xxx {
    height: 45vh;
  }

  .unoname {

    font-size: 1.5vw;
  }

  .una a{
    margin-left: 2vw;
    font-size: 2.5vw;

  }

  .una a:hover{
    color: #191919;
    letter-spacing: 0.1vw;
    font-size: 2.5vw;
  }

  .unn {
    color:#16a085;
    font-size: 3vw;
    margin-left: 10vw;
  }

  .unoname > a {
    color: #16a085;
    font-size: 1.5vw;
  }

  .unoname > a:hover {
    text-decoration: none;
    color: #ccc;
    font-size: 1.5vw;
  }

  .unotext {
    background-color: white;
    overflow: hidden;
    opacity: 0.75;
    color: black;
    text-transform:  full-width;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    z-index: 5;
  }

  .unotext h3 {
      color: black;
      width: 100%;
      font-size: 1vw;
      font-weight: 100;
      line-height: 1.5;
      padding-right: 1.7%;

  }

  .unoimg {

    width: 90%;
    height: 65%;
    margin: 5% auto;
  }

  .photo {
    background-size: cover;
    background-repeat: no-repeat;
      background-position: 50% 50%;
    height: 100%;
    position: relative;
  }


  ul li {
    display: inline;
    margin-left: 0.5vw;
  }
  a {
    font-size: 1.2vw;
  }
  a:hover {
    font-size: 1.3vw;
  }
  .onlycomp {
    display: none;
  }
  .una a{
    color: #191919;
    text-decoration: none;
    font-size: 1vw;
  }

  .una a:hover{

    text-decoration: none;
  }


}


@media(max-width:500px) {

  .unoproject-xxx {
    height: 50vh;
  }

  .unoname {

    font-size: 5vw;
  }

  .unoname > a {
    color: #16a085;
    font-size: 5vw;
  }

  .unoname > a:hover {
    text-decoration: none;
    color: #ccc;
    font-size: 5vw;
  }

  .una a{

    font-size: 4vw;
  }

  .una a:hover{
    color: #191919;
    letter-spacing: 0.1vw;
    font-size: 4vw;
  }

  .unn {
    color:#16a085;
    font-size: 4.5vw;
    margin-left: 2vw;
  }

  .unotext {
    background-color: black;
    overflow: hidden;
    opacity: 0.9;
    color: black;
    text-transform:  full-width;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    z-index: 5;
  }

  .unotext h3 {
      color: #ccc;
      font-size: 2.1vw;
      font-weight: 100;
      line-height: 1.5;
      width: 100%;

      padding-left: 1.5%;
  }

  .unoimg {

    width: 90%;
    height: 55%;
    margin: 5% auto;
  }
  .photo {
    background-size: cover;
    background-repeat: no-repeat;
      background-position: 50% 50%;
    height: 100%;
    position: relative;
  }


  ul li {
    display: list-item;
    margin-left: 2vw;
  }
  a {
    font-size: 4vw;
  }
  a:hover {
    font-size: 4.1vw;
  }
  .onlycomp {
    display: none;
  }

  .btn-info{
    font-size: 3vw;
    color: #191919;
    margin-right: 5%;
    margin-top: 5%;
    background-color: #16a085;
    border-color: #16a085;
  }

  .btn-info:hover{
    color: #ccc;
    background-color: #16a085;
    border-color: #16a085;
  }

}
