


.unobox h3{
  text-indent: 2vw; /* Отступ первой строки в пикселах */

}

table {
  color: #191919;

    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #191919;
    text-align: left;
    padding: 8px;
}




.unoproject{
  background-color: #ddd;
}





@media screen and (min-width:500px) {

  .unobox p{
    margin-left: 5%;
    width: 90%;
    font-size: 1vw;
    margin-top: 0;

  }
  table {
    font-size: 1.2vw;
  }

  .unobox img{
    width:50%;
    margin-left: 25%;
    float: none;
  }
}

@media screen and (max-width:500px) {

  table {
    font-size: 3vw;
  }
  td, th {

      padding: 3px;
  }

  .unobox p{
    margin-left: 5%;
    width: 90%;
    font-size: 3vw;
    margin-top: 0;

  }


}


.colorp{
  color:#02604d;
}

.colorp p{
  color:#02604d;
}
