.sproject {
  margin: 5% auto;

}

.sname {
  text-align: center;
  margin-top: 2vw;
}

.sname a {
  color:#ccc;
  font-size: 2vw;


}

.sname a:hover {
  color:#16a085;
  font-size: 2vw;
  text-decoration: none;
}

.simg {
  width: 70%;
  margin-left: 15%;

}
.sphoto {
  width: 70%;
  margin-left: 15%;
  background-color:#16a085;
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (max-width:500px) {

  .sname a {
    color:#191919;
    font-size: 6vw;

  }

  .sname a:hover {
    color:#16a085;
    font-size: 6vw;
    text-decoration: none;
  }

}
