h1 {
  margin-top: 10vh;
  font-size: 4.5vh;
  color: #189185;
  text-align: center;
  width: 100%;
  margin-bottom: -4vh;
}

.nameblock {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  margin-bottom: -20px;
  margin-top: 4vh;
  display: flex;
}

.nameblock h2 {
  font-size: 3.5vh;
  color: #272727;
  text-align: left;
}

@media screen and (max-width: 1024px) and (min-width : 768px) and (orientation: portrait){
  

}


@media screen and (max-width: 767px) and (orientation: portrait){

  .col-sm-4 {
    width: 100%;
    margin: 3vh auto;
    padding-right: 3vh;
    padding-left: 0;
  }

  .projectcontent {
    left: 12vh;
    bottom: 3vh;
    right: 0;
    border-left: 1vh solid #f3f3f3;
    border-right: 0;
  }

  .secondNews .projectcontent {
    left: 0;
    bottom: 3vh;
    right: 12vh;
    text-align: right;
    border-right: 1vh solid #f3f3f3;
    border-left: 0;
  }

  .secondNews {
    padding-right: 0;
    padding-left: 3vh;
  }

  .unoblock {
    height: 35vh;
  }

  .projectcontent {
    max-height: 14vh;
  }

  .projectcontent a {
    font-size: 2.5vh;
  }

}
