.swiper-models {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0;
}

.swiper-models:hover {
  opacity: 1;
}

.swiper2 {
  width: 100%;
  height: 8vh;
  overflow: hidden;
  background-color: #272727;
  border: 1vh solid;
}



.swiper2 .swiper-slide {

  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.newsblock {
  max-width: 1100px;
  margin: 0px auto;
  min-height: 60vh;
}

.unoblock {
  margin-top: 30px;
  height: 28vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.projectcontent {
  position: absolute;
  left: 3vh;
  bottom: 3vh;
  right: 10vh;
  padding: 1vh;
  background-color: #189185;
  max-height: 7vh;
  overflow: hidden;
  opacity: 0.8;
}

.projectcontentlink {
  background-color: #189185;
  font-size: 2vh;
  color: #272727;
  font-weight: 900;
  margin: 0;
}

.projectcontent:hover {
  opacity: 1;
}

.projectcontentlink:hover {
  text-decoration: none;
  color: #272727;
}

h1 {
  margin-top: 10vh;
  font-size: 4vh;
  color: #189185;
  text-align: center;
  width: 100%;
  margin-bottom: -15px;
}




.pagination {
    display: inline-block;
    text-align: center;
    margin-top: 2vh;
    width: 100%;
    font-size: 2.5vh;
}

.pagination a {
  color: #189185;
}

.pagination a:hover {
  opacity: 0.8;
  text-decoration: none;
}

footer {
  margin-top: 0;
}

@media screen and (max-width: 1024px) and (min-width : 768px) and (orientation: portrait){

  .unoblock {
    height: 18vh;
  }

}


@media screen and (max-width: 767px) and (orientation: portrait){

  .col-sm-4 {
    width: 100%;
    margin: 3vh auto;
    padding-right: 3vh;
    padding-left: 0;
  }

  .projectcontent {
    left: 12vh;
    bottom: 3vh;
    right: 0;
    border-left: 1vh solid #f3f3f3;
    border-right: 0;
  }

  .secondNews .projectcontent {
    left: 0;
    bottom: 3vh;
    right: 12vh;
    text-align: right;
    border-right: 1vh solid #f3f3f3;
    border-left: 0;
  }

  .secondNews {
    padding-right: 0;
    padding-left: 3vh;
  }

  .unoblock {
    height: 35vh;
  }

  .projectcontent {
    max-height: 14vh;
  }

  .projectcontent a {
    font-size: 2.5vh;
  }

}
