{% extends "gammaukr/index.html" %}
{% load staticfiles %}

{% block headin %}

  <link rel="stylesheet" href="{% static 'gammaukr/css/projtemp.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'gammaukr/css/mainpage.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'gammaukr/css/projectbox.css' %}" type = "text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}

{% block name %}

<h2 class="una"><a href="/projects/"> ◄ назад ко всем проектам</a></h2>

{% endblock %}


{% block filter %}

      {% for P in Project %}
                <h1 class="unn">{{P.name}}</h1>
      {% endfor %}


{% endblock %}

{% block content %}
    <div class="projecttemp">
      <div class="row">
        {% for P in Project %}
        <div class="col-sm-12 unoproject">
          <div class="unobox">
            <h3>{{P.text}}</h3>

          </div>

        </div>

        {% endfor %}
        {% for D in Detail %}
        {% if D.text %}
          {% if D.photo %}
            <div class="col-sm-12 unoproject">
              <div class="unobox">
                <p>{{D.text}}</p>
                <img src="{{ D.photo.url }}">
              </div>
            </div>
          {% else %}
          <div class="col-sm-12 unoproject">
            <div class="unobox">
              <h3>{{D.text}}</h3>
            </div>
          </div>
          {% endif %}
        {% else %}
          {% if D.photo %}
          <div class="col-sm-12 unoproject">
            <div class="unobox">
              <img class="unop" src="{{ D.photo.url }}">
            </div>
          </div>
          {% endif %}
        {% endif %}

        {% endfor %}

      </div>
    </div>


    <script>

</script>
{% endblock %}

{% block ico %}

<div class="mainblock">
  <div class="swiper-container-ico">
      <div class="swiper-wrapper">
        {% for M in Models %}
            <a href="{% url 'projectcar' pk=M.pk %}">
              <div class="swiper-slide" style="background-image:url({{ M.photo.url }});">
              </div>
            </a>
        {% endfor %}
          <div class="swiper-slide" style="background-image:url({% static 'gammaukr/img/cars/ford.png' %})"></div>
          <div class="swiper-slide" style="background-image:url({% static 'gammaukr/img/cars/skoda.png' %})"></div>
          <div class="swiper-slide" style="background-image:url({% static 'gammaukr/img/cars/suzuki.png' %})"></div>
          <div class="swiper-slide" style="background-image:url({% static 'gammaukr/img/cars/toyota.png' %})"></div>
          <div class="swiper-slide" style="background-image:url({% static 'gammaukr/img/cars/pego.png' %})"></div>
          <div class="swiper-slide" style="background-image:url({% static 'gammaukr/img/cars/merc.png' %})"></div>
          <div class="swiper-slide" style="background-image:url({% static 'gammaukr/img/cars/bmw.png' %})"></div>
          <div class="swiper-slide" style="background-image:url({% static 'gammaukr/img/cars/lada.png' %})"></div>
          <div class="swiper-slide" style="background-image:url({% static 'gammaukr/img/cars/ford.png' %})"></div>
          <div class="swiper-slide" style="background-image:url({% static 'gammaukr/img/cars/skoda.png' %})"></div>
          <div class="swiper-slide" style="background-image:url({% static 'gammaukr/img/cars/suzuki.png' %})"></div>
          <div class="swiper-slide" style="background-image:url({% static 'gammaukr/img/cars/toyota.png' %})"></div>
          <div class="swiper-slide" style="background-image:url({% static 'gammaukr/img/cars/pego.png' %})"></div>
          <div class="swiper-slide" style="background-image:url({% static 'gammaukr/img/cars/merc.png' %})"></div>
          <div class="swiper-slide" style="background-image:url({% static 'gammaukr/img/cars/bmw.png' %})"></div>
          <div class="swiper-slide" style="background-image:url({% static 'gammaukr/img/cars/lada.png' %})"></div>
      </div>
  </div>

</div>

{% endblock %}
