{% extends "gammaukr/index.html" %}
{% load staticfiles %}

{% block headin %}

  <link rel="stylesheet" href="{% static 'gammaukr/css/projtemp.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'gammaukr/css/services.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'gammaukr/css/mainpage.css' %}" type = "text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}

{% block menu %}

{% endblock %}


{% block name %}
          <h1>УСЛУГИ</h1>
{% endblock %}


{% block filter %}

  <div class="mainblock" style="background-color:transparent; width:100%;">
    <div class="swiper-container-ico">
        <div class="swiper-wrapper">
          {% for M in Models %}

                <div class="swiper-slide" >
                  <a href="{% url 'projectcar' pk=M.pk %}">
                    <div class="swiper-slide" style="background-image:url({{ M.photo.url }});">
                    </div>
                  </a>
                </div>

          {% endfor %}
          {% for M in Models %}

                <div class="swiper-slide" >
                  <a href="{% url 'projectcar' pk=M.pk %}">
                    <div class="swiper-slide" style="background-image:url({{ M.photo.url }});">
                    </div>
                  </a>
                </div>

          {% endfor %}
          {% for M in Models %}

                <div class="swiper-slide" >
                  <a href="{% url 'projectcar' pk=M.pk %}">
                    <div class="swiper-slide" style="background-image:url({{ M.photo.url }});">
                    </div>
                  </a>
                </div>

          {% endfor %}
        </div>
    </div>

  </div>

{% endblock %}

{% block content %}
    <div class="projecttemp">
      <div class="row">
        {% for S in Services %}
        <div class="col-sm-4 sproject">
          <a href="{% url 'service' pk=S.pk %}">
            <div class="sphoto">
              <img class="simg"  src="{{ S.photo.url }}" alt="">
            </div>
            <div class="sname">
               <a href="{% url 'service' pk=S.pk %}">{{S.name}} </a>
            </div>
            </a>
        </div>
        {% endfor %}
      </div>

    </div>



    <script>

</script>
{% endblock %}
