{% extends "gammaukr/index.html" %}
{% load staticfiles %}

{% block headin %}

  <link rel="stylesheet" href="{% static 'gammaukr/css/projtemp.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'gammaukr/css/mainpage.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'gammaukr/css/projectbox.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'gammaukr/css/serv.css' %}" type = "text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}

{% block name %}

<h2 class="una"><a href="/services/"> ◄ назад ко всем услугам</a></h2>

{% endblock %}


{% block filter %}

      {% for S in Services %}
                <h1 class="unn">{{S.name}}</h1>
      {% endfor %}


{% endblock %}

{% block content %}
    <div class="projecttemp">
      <div class="row">

        <div class="col-sm-12 unoproject">
          <div class="unobox">
            <h1 class="unn">Тонирование, поклейка пленки</h1>
            <h3> Степень комфорта и безопасности Вашего автомобиля можно значительно повысить за счет применения специальных тонировочных пленок. Тонированные стекла, сохраняя практически полный обзор внутри, создают эффект односторонней видимости, не позволяя рассмотреть салон автомобиля снаружи.</h3>
            <h3> «Гамма-Украина» работает с высококачественными автомобильными пленками <span style="color:#16a085;">«Johnson»</span> профессионального класса. Ассортимент предлагаемых американским производителем материалов довольно широк: по числу цветов и оттенков эти пленки удовлетворят самый изысканный вкус. Пленки могут быть установлены на стекла автомобилей всех марок без их демонтажа.</h3>
            <h3>  Эффективность применения тонировочных пленок не нуждается в доказательствах. Благодаря их использованию Вы получаете целый ряд преимуществ:</h3>
            <p style="color:#16a085;"> -  обеспечение конфиденциальности</p>
            <p style="color:#16a085;"> - отражение солнечного тепла </p>
            <p style="color:#16a085;"> - защита обивки салона от выгорания </p>
            <p style="color:#16a085;"> -  снижение ослепляющей яркости света автомобильных фар и солнечных лучей</p>
            <p style="color:#16a085;"> -  защита пассажиров и предметов внутреннего интерьера автомобиля от вредного действия ультрафиолетовых лучей</p>
            <p style="color:#16a085;"> -  защита от осколков стекла в случае его разрушения</p>
            <p style="color:#16a085;"> -  повышение эффективности работы автомобильного кондиционера</p>
            <h3> Помимо вышеперечисленных бонусов, применение высококлассных автомобильных пленок подчеркивает престижный внешний вид Вашего автомобиля и является еще одним способом подчеркнуть его индивидуальность в соответствием с Вашим вкусом. </h3>
            </div>
        </div>
        <div class="col-sm-12 unoproject">
          <div class="unobox">
            <h1 class="unn">Тонирование автомобиля</h1>
            <h3> Степень комфорта и безопасности Вашего автомобиля можно значительно повысить за счет применения специальных тонировочных пленок. Стекла затонированной машины, сохраняя практически полный обзор внутри, создают эффект односторонней видимости, не позволяя рассмотреть салон автомобиля снаружи. </h3>
            <h3> В соответсвии с требованиями правил дорожного движения Украины и Евросоюза тонирование лобового и передних стекол разрешается пленкой со светопропусканием не менее чем 50%. Также такое светопропускание соответствет требованиям ГОСТ.</h3>
            <h3>  В случае, если передние стекла Вашего автомобиля затонированы более темной пленкой и Вы собрались ехать зарубеж, не забудьте растонировать их. На границе это будет стоить в два раза дороже) </h3>
            <h3>  Снять тонировку со стекла кажется не сложно на первый взгляд, но это не так. снимая пленку на стекле остается слой клея. Если его не удалить, то во время опускания или поднятия стекла заворачивается уплотнитель, повышается нагрузка на двигатель стеклоподъемника, что приводит к его выходу из строя. Пользуйтесь услугами профессионалов в этом вопросе.</h3>
            <h3> «Гамма-Украина» работает с высококачественными автомобильными пленками <span style="color:#16a085;">Johnson, ASWF (American Standard Window Film) и SunTek</span> профессионального класса. Ассортимент предлагаемых американскими производителями материалов довольно широк: по числу цветов и оттенков эти пленки удовлетворят самый изысканный вкус. Пленки могут быть установлены на стекла автомобилей всех марок без их демонтажа.</h3>
            <h3> Тонирование стекол обеспечивает: </h3>
            <p style="color:#16a085;"> -  конфиденциальность</p>
            <p style="color:#16a085;"> - отражение солнечного тепла </p>
            <p style="color:#16a085;"> - защита обивки салона от выгорания </p>
            <p style="color:#16a085;"> -  снижение ослепляющей яркости света автомобильных фар и солнечных лучей</p>
            <p style="color:#16a085;"> -  защита пассажиров и предметов внутреннего интерьера автомобиля от вредного действия ультрафиолетовых лучей</p>
            <p style="color:#16a085;"> -  защита от осколков стекла в случае его разрушения</p>
            <p style="color:#16a085;"> -  повышение эффективности работы автомобильного кондиционера</p>
            <h3> Защитные противоударные пленки в свою очередь обеспечивают:</h3>
            <p style="color:#16a085;"> -  функцию бронестекла</p>
            <p style="color:#16a085;"> -  противостояние брошенному камню, взрыву, выстрелу, ураганному ветру</p>
            <h3> Большинство защитных пленок - прозрачные, хотя есть несколько типов затемненных защитных пленок с низким коэффициентом пропускания видимого света. Наиболее распространенные защитные пленки имеют толщину 120 мкм.</h3>
            <h3> Вы можете заказать тонировку как всего автомобиля так и отдельных ее частей: например только лобового стекла.</h3>
            <h3> Существует три основных вида тонировочных пленок: <span style="color:#16a085;">окрашенные пленки, металлизированные пленки и зеркальные пленки</span>. </h3>
            <h3> <span style="color:#16a085;">Окрашенные пленки</span> имеют всего лишь три слоя: краситель, полимер и клеящийся слой. Такие пленки не имеют отражающего слоя, а создают только эффект затемнения. Срок службы таких пленок недолог, плюс ещё некоторые виды очень чувствительны к перепадам температур.</h3>
            <h3> Второй вид – <span style="color:#16a085;">металлизированные пленки</span> . Самое широкое использование при тонировании автомобилей. Этот вид пленок сочетает в себе как наличие окрашеных слоев, так и металлизированных. Металлизированные пленки отличаются более высокими показателями по защите от солнечного тепла. Внешне, на стеклах автомобиля, металлизированная пленка имеет насыщенный цвет с глянцевым отблеском.</h3>
            <h3> Третий вид – <span style="color:#16a085;">зеркальные пленки</span>. Это пленки нe содержащие окрашенных слоев. Они отличаются особенной долговечностью свойств, которые зависят исключительно от того, какой металл или сплав применялся при металлизации. Некоторые из этих пленок содержат два металлизированных слоя с разными свойствами , что позволяет добиться низкого отражения света, падающего изнутри , а значит - более ясного, неискаженного вида из окна. Снаружи эти пленки имеют зеркальный эффект.</h3>
            <h3> Эффективность применения тонировочных пленок не нуждается в доказательствах. </h3>
            <h3> Помимо вышеперечисленных бонусов, применение высококлассных автомобильных пленок подчеркивает престижный внешний вид Вашего автомобиля и является еще одним способом подчеркнуть его индивидуальность в соответствием с Вашим вкусом.</h3>

          </div>
        </div>
        <div class="col-sm-12 unoproject">
          <div class="unobox">
            <h1 class="unn">Защитные и антигравийные плёнки</h1>
            <h3>  Защитная плёнка <span style="color:#16a085;">Venture Shield</span> предназначена для покрытия частей кузова автомобилей и мотоциклов, подверженных наибольшему воздействию при попадании мелкого гравия и гальки, постоянно присутствующих на дорогах различного назначения.</h3>
            <h3>  Защитная плёнка Venture Shield, разработанная компанией Venture Tape, представляет собой термопластичный полимер, при изготовлении которого используются 100% алифатические смолы. Технология производства плёнки обеспечивает повышенное сопротивление к ультрафиолетовым лучам, что позволяет ей оставаться прозрачной в течение многих лет. В отличие от большинства плёнок используемых для защиты окрашенных поверхностей, Venture Shield не желтеет. Запатентованный акриловый клей, противостоя остаткам смазочных материалов и ультрафиолетовым лучам, содержит антикоррозийный полимер, который препятствует возникновению коррозии и плесени.</h3>
            <h3>  Проведённые испытания и многочисленные тестирования защитной лёнки, позволяют не опасаться сползания и деформации в течение всего времени её использования. Высокое качество материалов и первенство среди конкурентов. подтверждают и проведённые тесты ведущих автомобильных производителей - Mercedes, Chrysler, Ford, GM, Ferrari и Nissan. Проверить это можно заглянув к примеру с внутренней стороны дверей в Мерседесе CLS.</h3>
            <h3>  Антигравийная плёнка VentureShield защищает от попадания мелких камней и гравия. Защищая поверхность мотоцикла антигравийной плёнкой, Вы сохраняете внешний вид мотоцикла на более длительный срок и экономите средства на его обновлении.</h3>
            <h1 class="unn">Схема защиты автомобиля антигравийной пленкой</h1>
            <img src="{% static 'gammaukr/img/anti.jpg' %}">
            <h3>  Антигравийная плёнка Venture Shield производится в двух толщинах 150 и 300 микрон, и применяется в зависимости от степени необходимой защиты. Как правило, для покрытия легковых автомобилей и мотоциклов используется плёнка с толщиной 150 микрон, в свою очередь 300 микрон отлично подходит для защиты поверхностей грузового транспорта и катеров.</h3>
            <h1 class="unn">Стоимость оклейки автомобиля защитными, антигравийными пленками</h1>
            <table>
            <tr>
              <th>Деталь</th>
              <th>Кол-во</th>
              <th>Стоимость оклейки, у.е.</th>
            </tr>
            <tr>
              <td>Зоны под ручками</td>
              <td>4</td>
              <td>10-15</td>
            </tr>
            <tr>
              <td>Торцы дверей</td>
              <td>1</td>
              <td>3-5</td>
            </tr>
            <tr>
              <td>Пороги внутренние</td>
              <td>1</td>
              <td>10-20</td>
            </tr>
            <tr>
              <td>Пороги внешние</td>
              <td>1</td>
              <td>50-80</td>
            </tr>
            <tr>
              <td>Оптика передняя</td>
              <td>2</td>
              <td>35-100</td>
            </tr>
            <tr>
              <td>Противотуманные фары</td>
              <td>2</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Полка заднего бамперае</td>
              <td>1</td>
              <td>25-40</td>
            </tr>
            <tr>
              <td>Передний бампер</td>
              <td>1</td>
              <td>200-250</td>
            </tr>
            <tr>
              <td>Задний бампер</td>
              <td>1</td>
              <td>200-250</td>
            </tr>
            <tr>
              <td>Передняя часть капота</td>
              <td>1</td>
              <td>90-130</td>
            </tr>
            <tr>
              <td>Стандартный набор (бампер, передняя  часть капота, оптика, передняя часть  крыльев, зеркала)</td>
              <td>1</td>
              <td>350-550</td>
            </tr>
            <tr>
              <td>Капот целиком</td>
              <td>1</td>
              <td>180-250</td>
            </tr>
            <tr>
              <td>Крыло целиком</td>
              <td>1</td>
              <td>70-120</td>
            </tr>
            <tr>
              <td>Дверь целиком</td>
              <td>1</td>
              <td>100-120</td>
            </tr>

          </table>
            </div>
        </div>

      </div>
    </div>

<h2 class="una"><a href="/projectservices/5/" >  Посмотреть готовые проекты  </a></h2>

    <script>

</script>
{% endblock %}

{% block ico %}

<div class="mainblock" style="background-color:transparent; width:100%;">
  <div class="swiper-container-ico">
      <div class="swiper-wrapper">
        {% for M in Models %}

              <div class="swiper-slide" >
                <a href="{% url 'projectcar' pk=M.pk %}">
                  <div class="swiper-slide" style="background-image:url({{ M.photo.url }});">
                  </div>
                </a>
              </div>

        {% endfor %}
        {% for M in Models %}

              <div class="swiper-slide" >
                <a href="{% url 'projectcar' pk=M.pk %}">
                  <div class="swiper-slide" style="background-image:url({{ M.photo.url }});">
                  </div>
                </a>
              </div>

        {% endfor %}
        {% for M in Models %}

              <div class="swiper-slide" >
                <a href="{% url 'projectcar' pk=M.pk %}">
                  <div class="swiper-slide" style="background-image:url({{ M.photo.url }});">
                  </div>
                </a>
              </div>

        {% endfor %}
        </div>
  </div>

</div>

{% endblock %}
