{% extends "gammaukr/index.html" %}
{% load staticfiles %}

{% block headin %}

  <link rel="stylesheet" href="{% static 'gammaukr/css/projtemp.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'gammaukr/css/mainpage.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'gammaukr/css/projectbox.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'gammaukr/css/serv.css' %}" type = "text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}

{% block name %}

<h2 class="una"><a href="/services/"> ◄ назад ко всем услугам</a></h2>

{% endblock %}


{% block filter %}

      {% for S in Services %}
                <h1 class="unn">{{S.name}}</h1>
      {% endfor %}


{% endblock %}

{% block content %}
    <div class="projecttemp">
      <div class="row">

        <div class="col-sm-12 unoproject">
          <div class="unobox">
            <h1 class="unn">Тюнинг (пошив и отделка) салона</h1>
            <h3> Следуя выбранной философии, специалисты тюнинг-ателье «Гамма-Украина» в каждом автомобиле, с которым им приходится работать, стараются не только максимально сохранить, но и подчеркнуть индивидуальный стиль его владельца, применяя для этого самые современные отделочные материалы. Работе над целостностью интерьера и стилистическому оформлению инсталлированных компонентов здесь уделяется самое пристальное внимание.</h3>
            <h3> Авторский почерк, неизменное чувство вкуса и стиля помогают специалистам дизайн-студии «Гамма-Украина» в разработке интерьера автомобиля и создании его нового облика. В силах специалистов тюнинг-ателье «Гамма-Украина» сделать Ваш салон оригинальным и неповторимым, выдержав при этом особый стиль, присущий данному автомобилю, с учетом Ваших индивидуальных пожеланий.</h3>
            <h3> Мастерами тюнинг-ателье используются высококачественные материалы таких ведущих фирм, как «Schweizer», «Alсantara» и др. Выполнить эксклюзивную отделку кожей и алькантарой можно в любом объеме и различных сочетаниях. Возможна обтяжка всех деталей автомобиля, вплоть до полного изменения цветового интерьера.</h3>
            <h3> Варианты исполнения отделки могут быть самыми разнообразными. Для удовлетворения Ваших стилевых предпочтений, специалисты ателье предлагают широкую цветовую гамму и многообразие видов отделочных материалов. Гладкая и перфорированная кожа, сочетание кожи и алькантары – все эти материалы только от лучших производителей. Помимо великолепных художественных качеств, они обладают прекрасными эксплуатационными характеристиками, благодаря чему позволяют изысканно оформить Ваш салон и сделать его еще более комфортным.</h3>
            <h3> При этом могут быть выполнены различные акценты, например:</h3>
            <p style="color:#16a085;"> -  имитация заводского исполнения</p>
            <p style="color:#16a085;"> -  выделение отделочных швов</p>
            <p style="color:#16a085;"> -  подчеркивание формы дверных панелей и сидений декоративным кантом</p>
            <h3> Индивидуальность Вашего салона можно подчеркнуть вышивкой шелком, исполненной на кожаной обшивке. Вышивка может быть любого размера и содержания.</h3>
            <h3> Помимо этого, специалисты тюнинг-ателье «Гамма-Украина» выполняют следующие виды работ:</h3>
            <p style="color:#16a085;"> -  отделка деталей салона натуральным шпоном ценных пород дерева, покрытие пластика под дерево, отделка карбоном</p>
            <p style="color:#16a085;"> -  замена стандартных панелей на выполненные по индивидуальному проекту</p>
            <p style="color:#16a085;"> -  инкрустация элементов салона металлом (нержавеющая сталь, алюминий)</p>
            <p style="color:#16a085;"> -  изготовление металлических порогов со светящейся надписью</p>
            <p style="color:#16a085;"> -  изменение цвета и подсветки приборной панели</p>
            <p style="color:#16a085;"> -   3D моделирование, визуализация, дизайн, проектирование</p>
            <p style="color:#16a085;"> -  интеграция дополнительных элементов подсветки (под сиденьями, в картах дверей и для эстетического оформления инсталлированных компонентов аудиосистемы)</p>
            <h3> Комплекс тюнинговых работ, выполненных мастерами тюнинг-ателье «Гамма-Украина», позволит облагородить, изменить либо восстановить облик Вашего автомобиля, и придать ему неповторимый стиль и особый шарм.</h3>
            </div>
        </div>
        <div class="col-sm-12 unoproject">
          <div class="unobox">
            <h1 class="unn">Автомобильные шторы – комфорт и престиж</h1>
            <h3> Так уж сложилось, что автомобильные шторы сейчас являются неотъемлемой частью и признаком престижности эксклюзивных автомобилей представительского класса, таких как бентли, роллс-ройс. </h3>
            <h3> А ведь шторы - это еще и функциональный элемент, обеспечивающий защиту салона автомобиля от солнца и посторонних взглядов. Шторы позволяют создать атмосферу уюта, комфорта и отстранённости, обеспечивают необходимый деловой настрой, дают возможность пассажиру сконцентрироваться на важных делах, либо расслабиться и отдохнуть, коротая время в городских пробках или дальних поездках. Снижают общий уровень шума в салоне автомобиля, способны значительно уменьшить негативное воздействие ультрафиолетового излучения на материалы внутренней отделки автомобиля и ощутимо снизить температуру салона во время длительной стоянки и в движении.
Ну и конечно позволяют подчеркнуть индивидуальность автомобиля и статус его владельца. Шторы еще раз показывают солидность Вашего автомобиля, как дорогие часы или костюм, молчаливое доказательство состоятельности их владельца. Не важно, какой у Вас автомобиль, будь то престижный дорогой седан или эксклюзивный автомобиль, внедорожник или минивен.</h3>
            <h3> И поскольку именно это назначение автомобильных штор является основным и более важным, то и вид их должен соответствовать этому назначению. Для того чтобы штора не выглядела простой занавеской на окне, она должна быть профессионально выполнена из добротного материала, иметь красивый, дорогой внешний вид, гармонировать с интерьером салона и не выглядеть вызывающе. Это достигается использованием качественных материалов, фирменных направляющих и профессиональной установкой.</h3>
            <h3> При изготовлении автомобильных штор используются специализированные трикотажные полотна. Данные полотна обладают повышенной устойчивостью к физико-химическим воздействиям и характеризуются высокой формоустойчивостью. Это значит, что автомобильные шторы не будут выгорать, не будут вытягиваться и деформироваться на протяжении всего срока службы автомобиля. </h3>
            <h3> Внешний вид шторы очень сильно зависит от драпировки. Очень важно, чтоб драпировка шторы (складки) сохранялась после ее закрытия и не требовала длительной коррекции. Безусловно, нужно отдавать себе отчет о том, что штора тканевая (это не алюминиевые жалюзи - ткань живет своей жизнью). Правильная драпировка шторы закладывается при ее изготовлении. Профессионально пошитые шторы максимально сохраняют все складки ровными. Наличие щелей минимально. Детали крепления невидны. Минимум видимых строчек. Штора не имеет изнанки и одинаково хорошо выглядит как изнутри, так и снаружи автомобиля (обе стороны лицевые). </h3>
            <h3> В качестве крепления используются специальные пластиковые направляющие, прикрепленные к рамке окна. При правильной установке форма направляющих полностью повторяет форму рамки окна. Направляющие имеют законченный вид, штора вешается на направляющие на специальных ползунах, вшитых в штору и не видимых ни снаружи, ни изнутри. Соответствующий специальный профиль направляющих и форма ползунов обеспечивает возможность свободно открыть и закрыть окно шторкой без лишних усилий, однако, не дает возможности шторке самостоятельно перемещаться при движении. Карнизы окрашиваются под цвет шторы или обивки салона. </h3>
            <h3> Ну и в заключение необходимо сказать о такой опции как электрический привод штор. Предназначение штор, как средства повышения комфорта, установка их на престижные автомобили конечно предполагает возможность и необходимость их электрификации. Решение этой задачи на каждом автомобиле индивидуальное, но требования к профессиональной установке электроприводов одинаковые. Привод должен обеспечивать равномерное синхронное движение штор без заеданий, быть малошумным, органы управления должны быть эргономичными и полностью соответствовать дизайну салона и имеющихся кнопок. И кроме того, система должна самостоятельно распознавать наличие препятствий при движении шторы по направляющим, и в этом случае немедленно производить отключение двигателя. То есть приводы как и сами шторы должны полностью соответствовать классу автомобиля, на который они устанавливаются . То есть выглядеть и работать все должно так, будто было сделано при производстве автомобиля</h3>
            <h3>Последний аргумент всегда был и будет основным критерием профессионального тюнинга и шторы не являются исключением. А пишем мы это для того, чтобы услышанная Вами при заказе штор цена сравнивалась не со стоимостью эмиратских или белоцерковских тюнинговых комплектов (они встречаются на Украине для тойот-внедорожников и для микроавтобусов), а со стоимостью этой опции на заводе. И вот увидите – Вам гораздо легче будет принять правильное решение. Ну а мы поможем за эти деньги сделать Ваш салон индивидуальным (ведь тюнинг – это «настройка» Вашего автомобиля под Ваш вкус и имидж). И в заключение отметим, что далеко не все роллс-ройсы, бентли поставляются на Украину со шторами – присмотритесь и может быть Вы узнаете нашу работу. Хотя правильнее сказать – «не узнаете» - настолько она не отличается от заводской. </h3>
            <h3>В качестве вывода еще раз перечислим основные преимущества профессиональных автомобильных штор от «Гамма-Украины»:</h3>
            <p style="color:#16a085;"> - Объемная, полноценная ровная драпировка (складка) шторы </p>
            <p style="color:#16a085;"> - Сверхупругий, приятный и дорогой материал, сохраняющий форму и цвет в процессе эксплуатации </p>
            <p style="color:#16a085;"> -  Шторы выполнены по технологии скрытых швов, не видно ниток, строчек, обе стороны лицевые, ползуны вшиты и невидимы для посторонних</p>
            <p style="color:#16a085;"> -  Отсутствие нагромождений вверху/внизу шторы</p>
            <p style="color:#16a085;"> - Два слоя материала обеспечивают дизайн (и шумоизоляцию) салона </p>
            <p style="color:#16a085;"> -  Самые маленькие и изящные из всех существующих направляющих, полностью повторяющие форму рамки и выкрашенные в любой цвет</p>
            <p style="color:#16a085;"> -  Равномерное, без заеданий движение штор</p>
            <p style="color:#16a085;"> -  Любые варианты электрификации приводов</p>
            <p style="color:#16a085;"> -  Надежность конструкции</p>
            <p style="color:#16a085;"> -  Установка без изменения конструкции деталей салона автомобиля</p>
            <p style="color:#16a085;"> -  Разработка любого дизайна на Ваш вкус и техническая поддержка</p>

          </div>
        </div>
        <div class="col-sm-12 unoproject">
          <div class="unobox">
            <h1 class="unn">Отделка натуральным деревом</h1>
            <h3> Для создания эксклюзивного интерьера, дизайн салона предполагает не только отделку кожей или алькантарой, покрытие отдельных элементов салона шпоном ценных пород дерева: орех, карельская береза, клен, ясень, макагон, вишня, ильм и др. Различные виды дерева обладают характерным уникальным рисунком, а также неповторимость им придает окраска в любой выбранный заказчиком цвет в точно соответствии со стилистикой дизайна салона.</h3>
            <h3> В случае необходимости, в студии возможно произвести работы по реставрации элемнтов из дерева. Все уязвимые детали салона будут иметь лаковое покрытие, защищающее от воздействия влаги, высоких температур и солнечных лучей, чтобы красота и изысканность могли как можно дольше радовать Вас.</h3>
            </div>
        </div>

      </div>
    </div>

<h2 class="una"><a href="/projectservices/4/" >  Посмотреть готовые проекты  </a></h2>

    <script>

</script>
{% endblock %}

{% block ico %}

<div class="mainblock" style="background-color:transparent; width:100%;">
  <div class="swiper-container-ico">
      <div class="swiper-wrapper">
        {% for M in Models %}

              <div class="swiper-slide" >
                <a href="{% url 'projectcar' pk=M.pk %}">
                  <div class="swiper-slide" style="background-image:url({{ M.photo.url }});">
                  </div>
                </a>
              </div>

        {% endfor %}
        {% for M in Models %}

              <div class="swiper-slide" >
                <a href="{% url 'projectcar' pk=M.pk %}">
                  <div class="swiper-slide" style="background-image:url({{ M.photo.url }});">
                  </div>
                </a>
              </div>

        {% endfor %}
        {% for M in Models %}

              <div class="swiper-slide" >
                <a href="{% url 'projectcar' pk=M.pk %}">
                  <div class="swiper-slide" style="background-image:url({{ M.photo.url }});">
                  </div>
                </a>
              </div>

        {% endfor %}
        </div>
  </div>

</div>

{% endblock %}
