{% extends "gammaukr/index.html" %}
{% load staticfiles %}

{% block headin %}

  <link rel="stylesheet" href="{% static 'gammaukr/css/projtemp.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'gammaukr/css/mainpage.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'gammaukr/css/projectbox.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'gammaukr/css/serv.css' %}" type = "text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  .unobox p{
    color:#02604d;
  }
</style>
{% endblock %}

{% block name %}

<h2 class="una"><a href="/services/"> ◄ назад ко всем услугам</a></h2>

{% endblock %}


{% block filter %}

      {% for S in Services %}
                <h1 class="unn">{{S.name}}</h1>
      {% endfor %}


{% endblock %}

{% block content %}
    <div class="projecttemp">
      <div class="row">

        <div class="col-sm-12 unoproject">
          <div class="unobox">
            <h1 class="unn">ПЕРЕОБОРУДОВАНИЕ САЛОНА МИНИАВТОБУСА</h1>
            <h3> Переоборудование производится на базе тюнингованного автобуса (версия Explorer, Starkraft и т.д.). Основная цель переоборудования - повышение комфортности путем создания отдельного VIP-салона в задней части автомобиля. Переоборудование включает в себя перепланировку салона, доработку мультимедийной системы на основе cуществующей, а также установку дополнительных систем комфорта в автомобиле. В ходе выполнения различных вариантов переоборудования была сформирована оптимальная базовая конфигурация VIP-салона.</h3>

            <h3>  Основным элементом VIP-салона является перегородка, отделяющая салон от водительской части. Перегородка изготавливается из металлокаркаса, обшитого стеклопласитковыми панелями. Расположение и конфигурация перегородки согласовывается с представителем заказчика и учитывает особенности расположения водителя и пассажира на переднем сидении, максимум комфорта для задних пассажиров и удобство входа в салон. Отделка перегородки выполняется со стороны VIP-салона выполняется кожей и альканатрой, максимально совпадающей с существующей отделкой, а со стороны водителя – комбинированно карпетом, винилскожей и кожей.</h3>

            <h3>В состав перегородки входят:</h3>
            <p class="colorp"> - окно между салоном и водительским отсеком, оборудованное стеклом и шторами с электрофицированными приводами (открытие-закрытие)</p>
            <p class="colorp"> - вмонтированный в нижней части выдвижной компрессорный холодильник фирмы Waeco на 25 литров. (Указанная достигаемая температура заморозки -18 градусов Цельсия) Выдвижная конструкция обеспечивает удобный доступ к холодильнику и в то же время скрывает его наличие в закрытом положении. Подключение холодильника позволяет его работу при выключенном зажигании и в то же время не допускает разряд аккумулятора автомобиля</p>
            <p class="colorp"> - электрофицированный бар над холодильником. Электрификация обеспечивает выдвижение бара, открытие-закрытие дверок, подсветку. Состав посуды, ее расположение, цвет подсветки согласовывается с представителем заказчика</p>
            <p class="colorp"> - откидные столики для первого ряда сидений. Отделка столиков выполняется комбинированно – лицевая (верхняя) плоскость под существующие панели (на дверях и на потолке), нижняя - кожей. Конструкция столиков включает в себя мини-бары (состав посуды и конфигурация согласовывается с представителем заказчика). Кроме того конструкция столиков обеспечивает надежную фиксацию в закрытом положении и возможность размещения на них нетяжелых предметов (бумаги, ноутбук, посуда) в открытом</p>
            <p class="colorp"> - CD-DVD-FM-ресивер мультимедийной системы</p>
            <p class="colorp"> - панель управления системами комфорта (кнопки управления стеклом, шторами, баром, освещением, люком и кнопка вызова-ответа интеркома)</p>
            <p class="colorp"> - дополнительные розетки 220в возле каждого столика.При этом система преобразователя 12-220в должна обеспечивать одновременную работу приставки X-box и 2-х ноутбуков</p>

            <h3>  Отдельный элемент VIP-салона – столики для второго ряда пассажиров. Конструктивно они прячутся в закрытом положении в боковый стойки (нижнюю часть) В выдвинутом положении поверхность столиков раскладывается дополнительно. Отделка кожей. Конструкция обеспечивает размещение нетяжелых предметов (бумаги, ноутбук, посуда). Возле столиков располагаются розетки 220 в. Возле правого столика кроме того предусматривается VGA-вход для подключения ноутбука к большому экрану. </h3>

            <h3> Мультимедийная система VIP-салона строится на базе имеющихся в автомобиле монитора и акустической системы и работает автономно от водительской части. В ее состав дополнительно входят:</h3>
            <p class="colorp"> - CD-DVD-FM-ресивер – обеспечивает прослушивание радиопередач, CD-дисков, а также просмотр DVD-дисков, в т.ч лицензионных (5-й зоны и в системе PAL), что не обеспечивает уже установленный на а/м аппарат</p>
            <p class="colorp"> - цифровой ТВ-тюнер – обеспечивает прием эфирного цифрового телевидения в формате DVB-T. Вещание такого телевидения на данный момент выполняется только в Киеве. Согласно постановления КабМина переход на цифровое телевидение по всей Украине должен быть осуществлен до 2015 (реально надо ориентироваться на Евро-2012)</p>
            <p class="colorp"> - аналоговый ТВ-тюнер – необходим для просмотра телевидения в регионах. При этом надо иметь в виду прием обеспечивается только внутри и возле населенных пунктов. Качество приема соответствует качеству эфирного (не кабельного) телевидения</p>
            <p class="colorp"> - универсальный пульт дистанционного управления – обеспечивает управление всеми устройствами системы за исключением приставки. Логика управления системой согласовывается с представителем заказчика и по максимуму приближена к логике управления домашней видеосистемой</p>
            <p class="colorp"> - ИК-наушники (имеющиеся в а/м) – позволяют просмотр ТВ, приставки и т.д. без звука в аудиосистеме</p>

            <h3>  Дополнительные системы комфорта включают в себя:</h3>
            <p class="colorp"> - система интеркома – обеспечивает удобное общение с водительским салоном. Включает в себя кнопки ответа-вызова у водителя и в VIP-салоне и трубку конфиденциального разговора в VIP-салоне. Трубка располагается возле места второго ряда справа, кнопка ответа-вызова – на перегородке. Логика работы системы согласовывается с представителем заказчика</p>
            <p class="colorp"> - автомобильный телефон Nokia c трубкой – работает как в режиме собственной SIM-карты, так и в режиме Bluetooth связи с мобильным телефоном. При этом работает режим доступа к SIM-карте мобильного телефона, то есть обеспечивается прием на антенну и усилитель автомобильного телефона. Предусмотрен режим как громкой связи, так и конфиденциального разговора. Основное назначение, кроме повышения комфортности – обеспечивает прием на трассах за счет выносной антенны и встроенного усилителя, а также, а также снижает уровень излучения в салоне во время разговора за счет выносной антенны. Трубка располагается возле места второго ряда справа</p>
            <p class="colorp"> - панели управления системами комфорта (кнопки управления стеклом, шторами, баром, освещением, люком и кнопка вызова-ответа интеркома). Панелей две – одна на перегородке и вторая на стойке возле места второго ряда справа</p>
            <h3>   Все системы VIP-салона могут работать только при включенном зажигании (АСС). Кроме того предусмотрено отключение всех систем из водительского салона (при сдаче на СТО и т.д.). Все цепи питания защищаются предохранителями, добавляемыми в штатную панель в салоне.</h3>

            <h3> В качестве дополнительных систем могут рассматриваться и согласовываться дополнительно следующие системы:</h3>
            <p class="colorp"> - Игровая приставка X-Box . Подключается через HDMI вход монитора. Управление беспроводными пультами-джойстиками. Установка обеспечивает доступ к кнопкам управления и слоту смены дисков</p>
            <p class="colorp"> - Система навигации для водителя с картами Украины (более 70 нас.пунктов с адресным поиском) и Европа (версия NT2009 включает подробные карты стран Прибалтики и Восточной Европы – Словакия, Польша и т.д.). Вывод дополнительной информации на задний монитор позволяет пассажирам VIP-салона определить положение автомобиля и время до конечной точки</p>
            <p class="colorp"> - Дополнительные (стационарные) пульты управления мультимедийной системой</p>
            <p class="colorp"> - Система звука 5.1 с усилителем и сабвуфером для VIP-салона</p>
            <p class="colorp"> - Система плавной регулировки освещения VIP-салона</p>
            <p class="colorp"> - Мини-бары для второго ряда сидений</p>
            <p class="colorp"> - Камера переднего вида с выводом информации на задний монитор для пассажиров VIP-салона</p>
            <p class="colorp"> - Подогревы сидений VIP-салона</p>
            <p class="colorp"> и т д</p>
          </div>
        </div>
      </div>
    </div>

<h2 class="una"><a href="/projectservices/1/" >  Посмотреть готовые проекты  </a></h2>

    <script>

</script>
{% endblock %}

{% block ico %}

<div class="mainblock" style="background-color:transparent; width:100%;">
  <div class="swiper-container-ico">
      <div class="swiper-wrapper">
        {% for M in Models %}

              <div class="swiper-slide" >
                <a href="{% url 'projectcar' pk=M.pk %}">
                  <div class="swiper-slide" style="background-image:url({{ M.photo.url }});">
                  </div>
                </a>
              </div>

        {% endfor %}
        {% for M in Models %}

              <div class="swiper-slide" >
                <a href="{% url 'projectcar' pk=M.pk %}">
                  <div class="swiper-slide" style="background-image:url({{ M.photo.url }});">
                  </div>
                </a>
              </div>

        {% endfor %}
        {% for M in Models %}

              <div class="swiper-slide" >
                <a href="{% url 'projectcar' pk=M.pk %}">
                  <div class="swiper-slide" style="background-image:url({{ M.photo.url }});">
                  </div>
                </a>
              </div>

        {% endfor %}
        </div>
  </div>

</div>

{% endblock %}
