{% extends "all.html" %}
{% load staticfiles %}

{% block headin %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}" type = "text/css"/>
  <title>История, награды | Гама Украина</title>
{% endblock %}

{% block mainin %}

  <div class="contacts">
    <div class="lcontact">
      <h2>История</h2>
        <h3>1994г.</h3>
        <p>Создание компании «Гамма-Украина». Свою историю фирма начала как мастерская по установке охранных систем и автомагнитол.</p>
        <h3>1997г.</h3>
        <p>«Гамма-Украина» становится инсталляционным центром, предоставляющим своим клиентам уникальную возможность воплощения самых смелых фантазий в автомобиле - направление по тюнингу.</p>
        <h3>2001г.</h3>
        <p>«Гамма-Украина» стала первым в истории Украины Чемпионом Европы в соревнованиях по качеству звучания. И с завидным постоянством вновь и вновь подтверждает свой высокий профессиональный уровень в этой сфере.</p>
        <h3>2002г. - первые места</h3>
        <p>- региональный тур Чемпионата Украины класс Профессионал «Евро 300-600», Харьков</p>
        <p>- национальный тур Чемпионата Украины, SIA 2002, класс Профессионал «Евро 300-600», Киев</p>
        <p>- национальный тур Чемпионата Украины, SIA 2002, класс Профессионал «Звук 600+», Киев</p>
        <p>- финал Чемпионата Украины, СК «Чайка», класс Профессионал «Евро 300-600», Киев </p>
        <h3>2005г.</h3>
        <p>Участие в SIA-2005. Audi S4, подготовленная инсталляционной студией «Гамма-Украина», победила в Финале Чемпионата Украины-2005.</p>
        <h3>2007г.</h3>
        <p>Открытие нового направления по отделке яхт и катеров.</p>
        <p>Участие в юбилейном международном автосалоне SIA-2007.</p>
    </div>
    <div class="rcontact">
      <h2>Награды</h2>
        <h3>Honda Acord</h3>
        <img src="{% static 'img/win2.jpg' %}">
        <br>
        <br>
        <p>Первое место<br>
          финал Чемпионата Украины 2001 г., Киев,
          СК «Чайка», класс Профессионал «Евро 300-600»,
          9 сентября 2001г.</p>
        <p>Первое место<br>
          Финал Чемпионата России 2001 г., Москва,
          Сокольники, класс Профессионал «Евро 3»,
          5 октября 2001г.</p>
        <p>Первое место<br>
          Чемпионат Европы 2001 г., Германия, Ноймаркт,
          класс «Pro 600»,
          28 октября 2001 г.</p>
        <p>Первое место<br>
          региональный тур Чемпионата Украины 2002 г., Харьков,
          Дворец спорта, класс Профессионал «Евро 300-600»,
          24 марта 2002 г.</p>
        <p>Первое место<br>
          национальный тур Чемпионата Украины 2002г., Киев,
          SIA 2002, класс Профессионал «Евро 300-600»,
          26 мая 2002 г.</p>
        <p>Первое место<br>
          финал Чемпионата Украины 2002г., Киев,
          СК «Чайка», класс Профессионал «Евро 300-600»,
          8 сентября 2002 г.</p>
        <h3>Mitsubishi Galant</h3>
        <img src="{% static 'img/win2.jpg' %}">
        <br>
        <br>
        <h3>Mercedes G 350</h3>
        <img src="{% static 'img/win3.jpg' %}">
        <br>
        <br>
        <p>Первое место<br>
          национальный тур Чемпионата Украины 2002 г., Киев,
          SIA 2002, класс Профессионал «Звук 600+»,
          26 мая 2002 г.</p>
    </div>
  </div>




{% endblock %}

{% block scriptin %}

<script>

</script>
{% endblock %}
