<!DOCTYPE html>
<html lang="ru">

<head>

  {% load staticfiles %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" lang="ru" content="ООО Гамма-Украина" />

    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow">
    <meta name="yandex" content="index,follow">

    <meta property="og:site_name" content="Гамма Украина">
    <meta property="og:locale" content="ru_RU">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
    <script src="/static/js/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block headin %}
    {% endblock %}


  <style>
  @font-face {
    font-family: Archive;
    src: local("Archive"), url("{% static 'fonts/AvantGarde.otf' %}");
  }
  </style>

</head>

<body>

  <div id="wrap">

  <!--{% autoescape off %}{{S.text}}{% endautoescape %}-->
  <nav id="nav" role="navigation">
    <div class="logo">
      <a href="/">
        <img src="{% static 'img/logo_gamma.png' %}">
      </a>
    </div>
    <a href="#nav" title="Show navigation">
      <img src="{% static 'img/menu.png' %}">
    </a>
    <a href="#" title="Hide navigation">
      <img src="{% static 'img/close.png' %}">
    </a>
    <ul>
        <li><a href="/projects/">Проекты</a></li>
        <li><a href="/news/">Новости</a></li>
        <li>
          <a aria-haspopup="true">Услуги</a>
          <ul>
            {% for S in Services %}
              <li><a href="{% url 'services' pk=S.pk %}">{{S.shortname}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="/gallery/">Галерея</a></li>
        <li>
          <a aria-haspopup="true">Компания</a>
          <ul>
              <li><a href="/about/">О нас</a></li>
              <li><a href="/contact/">Контакты</a></li>
              <li><a href="/vacancy/">Вакансии</a></li>
          </ul>
        </li>
        <li><a href="/askme/">Спроси нас</a></li>
    </ul>
</nav>

  {% block mainin %}
  {% endblock %}
</div>
  <footer>
    <div class="footer-content">
      <div class="numbers">
        {% for N in Numbers %}
          <p>&#9742; {{N.number}}</p>
        {% endfor %}
      </div>
      <div class="adress">
        <h3>Адрес</h3>
        <p>Киев, пр. Освободителей (Визволителів) д.1</p>
        <h3>Наши сайты</h3>
        {% for L in Links %}
          <a href="{{L.link}}" >{{L.name}}</a>
          <br>
        {% endfor %}


      </div>
      <div class="links">
        <a href="/" id="icc"><img src="{% static 'img/f.png' %}" id = 'blabla'></a>
        <a href="/" id="icc"><img src="{% static 'img/y.png' %}" id = 'blabla'></a>
        <a href="/" id="icc"><img src="{% static 'img/g.png' %}" id = 'blabla'></a>
      </div>
    </div>
  </footer>

  <script src="/static/js/hh.js"></script>
  <script>
  	$( function()
  	{
  		$( '#nav li:has(ul)' ).doubleTapToGo();
  	});
  </script>

  {% block scriptin %}


  {% endblock %}

</body>

</html>
