{% extends "all.html" %}
{% load staticfiles %}

{% block headin %}
  <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'css/photogallery.css' %}" type = "text/css"/>

  <title>{% for P in Project %}{{P.title}}{% endfor %}</title>
  <meta name="description" content="{% for P in Project %}{{P.description}}{% endfor %}"/>

  <meta property="og:type" content="article" />
  <meta property="og:title" content="{% for P in Project %}{{P.title}}{% endfor %}" />
  <meta property="og:description" content="{% for P in Project %}{{P.description}}{% endfor %}" />
  <meta property="og:image" content="http://gammaukr.pythonanywhere.com{% for P in Project %}{{P.photo.url}}{% endfor %}" />

  <meta itemprop="name" content="{% for P in Project %}{{P.title}}{% endfor %}" />
  <meta itemprop="description" content="{% for P in Project %}{{P.description}}{% endfor %}" />
  <meta property="og:image" content="http://gammaukr.pythonanywhere.com{% for P in Project %}{{P.photo.url}}{% endfor %}" />
{% endblock %}

{% block mainin %}

  <h1>{% for N in Project %}{{N.name}}{% endfor %}</h1>
  <h4>{% for N in Project %}{% autoescape off %}{{N.text}}{% endautoescape %}{% endfor %}</h4>



    <div class="swiper-container gallery-top">
      <div class="swiper-wrapper">
        {% for P in Photo %}
          <div class="swiper-slide" style="background-image:url({{ P.gimg.url }})"></div>
        {% endfor %}
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next swiper-button-white"></div>
      <div class="swiper-button-prev swiper-button-white"></div>
    </div>

    <div class="swiper-container gallery-thumbs">
      <div class="swiper-wrapper">
        {% for P in Photo %}
          <div class="swiper-slide" style="background-image:url({{ P.gimg.url }})"></div>
        {% endfor %}
      </div>
    </div>






{% endblock %}

{% block scriptin %}
<script src="/static/js/swipernew.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      centeredSlides: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      centeredSlides: true,
      slidesPerView: 'auto',
      touchRatio: 0.2,
      slideToClickedSlide: true,
    });
    galleryTop.controller.control = galleryThumbs;
    galleryThumbs.controller.control = galleryTop;

  </script>

{% endblock %}
