{% extends "all.html" %}
{% load staticfiles %}

{% block headin %}
  <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'css/services.css' %}" type = "text/css"/>
  <title>{% for P in Des %}{{P.title}}{% endfor %}</title>
  <meta name="description" content="{% for P in Des %}{{P.description}}{% endfor %}"/>

  <meta property="og:type" content="website" />
  <meta property="og:title" content="{% for P in Des %}{{P.title}}{% endfor %}" />
  <meta property="og:description" content="{% for P in Des %}{{P.description}}{% endfor %}" />
  <meta property="og:image" content="http://gammaukr.pythonanywhere.com{% static 'img/logo_gamma.png' %}" />

  <meta itemprop="name" content="{% for P in Des %}{{P.title}}{% endfor %}" />
  <meta itemprop="description" content="{% for P in Des %}{{P.description}}{% endfor %}" />
  <meta property="og:image" content="http://gammaukr.pythonanywhere.com{% static 'img/logo_gamma.png' %}" />

{% endblock %}

{% block mainin %}


  <h1>{% for N in Name %}{{N.name}}{% endfor %}</h1>

  <div class="servicesblock">

      {% for S in ServicesSecond %}
      <a class="seruno" href="{% url 'service' pk=S.pk %}">
        <div class="service">
          <div class="servicephoto" style="background-image:url({{ S.photo.url }});">
          </div>
          <div class="servicecontent">
            <h2>{{S.name}}</h2>
            <p>{% autoescape off %}{{S.text}}{% endautoescape %}</p>
            <button class="button">Подробнее</button>
          </div>
        </div>
      </a>
      {% endfor %}

  </div>



{% endblock %}

{% block scriptin %}
<script src="/static/js/swiper.min.js"></script>
<script>
  $(document).ready(function(){
    $( ".servicesblock .seruno:nth-child(2n)" ).addClass("second");
  });
</script>
{% endblock %}
